body {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    background-color: #CCC;
    -webkit-app-region: no-drag;
}

.container {
    position: relative;
    width: 403px;
    height: 654px;
    background-color: #FFF;
    margin: none;
}

.row{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #ece1ff;
}
.row:last-child {
    border: none;
}

.button {
    width: 100px;
    height: 100%;
    float: left;
    cursor: pointer;
    border-right: 1px solid #ece1ff;
    line-height: 100px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}
.button-2 {
    width: 201px;
}
.button-3 {
    width: 302px;
}
.button-4 {
    width: 403px;
}
.button:last-child {
    border: none;
}

.button-number:hover {
    background-color: #cabaed;
}
.button-operator:hover {
    background-color: #f8506b;
}

.button-number:active,
.button-operator:active {
    box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.screen {
    position: relative;
    height: 150px;
    border: none;
    background-color: #6732ff;
    -webkit-app-region: drag;
}

.screen .main {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110px;
    text-align: right;
    line-height: 110px;
    font-size: 2em;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #6732ff;
    color: #FFF;
    -webkit-app-region: no-drag;
}


.util-button {
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    line-height: 12px;
    text-align: center;
    color: black;
    font-size: 10px;
    z-index: 10;
    cursor: pointer;
}
.close {
    top: 7px;
    left: 7px;
    background-color: red;

}
.minimise {
    top: 7px;
    left: 28px;
    background-color: yellow;
}

.util-button:active {
    box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
}
